#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Roadmap
Exec=/opt/helium-browser-beta-bin/helium-wrapper --profile-directory=Default --app-id=ogidbcollbiomofpbemoiheikinmnpjh
Icon=chrome-ogidbcollbiomofpbemoiheikinmnpjh-Default
StartupWMClass=crx_ogidbcollbiomofpbemoiheikinmnpjh
