#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Pinterest
Exec=/opt/helium-browser-beta-bin/helium-wrapper --profile-directory=Default --app-id=pgmdgibpghdecnfpfdllbgopbbacglgg
Icon=chrome-pgmdgibpghdecnfpfdllbgopbbacglgg-Default
StartupWMClass=crx_pgmdgibpghdecnfpfdllbgopbbacglgg
