#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Resilio Sync
Exec=/opt/helium-browser-beta-bin/helium-wrapper --profile-directory=Default --app-id=pbgeoohjglglehkbdgdakjejlleecibe
Icon=chrome-pbgeoohjglglehkbdgdakjejlleecibe-Default
StartupWMClass=crx_pbgeoohjglglehkbdgdakjejlleecibe
