#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Udemy
Exec=/opt/thorium-browser/thorium-browser --profile-directory=Default --app-id=egoehjpeamejfojfnjpbpppaeekmnmmc
Icon=thorium-egoehjpeamejfojfnjpbpppaeekmnmmc-Default
StartupWMClass=crx_egoehjpeamejfojfnjpbpppaeekmnmmc
