#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=mynetdiary
Exec=/opt/thorium-browser/thorium-browser --profile-directory=Default --app-id=ohcpimipfbmfimeodlbpbafcajaplncf
Icon=thorium-ohcpimipfbmfimeodlbpbafcajaplncf-Default
StartupWMClass=crx_ohcpimipfbmfimeodlbpbafcajaplncf
