

[Desktop Entry]
Type=Application
Name=Dusky System Update
GenericName=Git Sync & Arch Update
Comment=Syncs local setup with latest git commit and updates system
Keywords=system;update;upgrade;sync;git;
Categories=System;ConsoleOnly;
Exec=uwsm-app -- kitty --class update_dusky.sh --hold /home/red_sora/user_scripts/update_dusky/update_dusky.sh
Terminal=false
Icon=system-software-update
StartupNotify=true
StartupWMClass=dusky_update