[Desktop Entry]
Type=Application
Name=Fight Training
Exec=waydroid app launch com.boxing.muay
Icon=/home/red_sora/.local/share/waydroid/data/icons/com.boxing.muay.png
Categories=X-WayDroid-App;
X-Purism-FormFactor=Workstation;Mobile;
Actions=app-settings;

[Desktop Action app-settings]
Name=App Settings
Exec=waydroid app intent android.settings.APPLICATION_DETAILS_SETTINGS package:com.boxing.muay
Icon=/home/red_sora/.local/share/waydroid/data/icons/com.android.settings.png
