[Desktop Entry]
Type=Application
Name=Pradeep Giri Academy
Exec=waydroid app launch co.diy14.ewmps
Icon=/home/red_sora/.local/share/waydroid/data/icons/co.diy14.ewmps.png
Categories=X-WayDroid-App;
X-Purism-FormFactor=Workstation;Mobile;
Actions=app-settings;

[Desktop Action app-settings]
Name=App Settings
Exec=waydroid app intent android.settings.APPLICATION_DETAILS_SETTINGS package:co.diy14.ewmps
Icon=/home/red_sora/.local/share/waydroid/data/icons/com.android.settings.png
